#	Whitelist ignore
*

#	Git
!.gitignore

#	Compilation
!Makefile

#	Directories
!include
include/*
!libft
libft/*
!src
src/*

#	Files
!include/ft_printf.h

!libft/ft_*.c
!libft/libft.h
!libft/Makefile

!src/ft_declen.c
!src/ft_getaddr.c
!src/ft_getchar.c
!src/ft_getdec.c
!src/ft_getint.c
!src/ft_getlowhex.c
!src/ft_getnode_var.c
!src/ft_getnode.c
!src/ft_getstr.c
!src/ft_getudec.c
!src/ft_getupphex.c
!src/ft_lsttrypush.c
!src/ft_printf.c
!src/ft_tohexstr.c
!src/ft_varstr.c