#	Whitelist ignore
*

#	Git
!.gitignore

#	Compilation
!Makefile

#	Directories
!include
include/*
!libft
libft/*
!src
src/*

#	Files
!include/ft_printf.h

!libft/ft_*.c
!libft/libft.h
!libft/Makefile

!ft_convert_char.c
!ft_convert_dec.c
!ft_convert_hex.c
!ft_convert_int.c
!ft_convert_ptr.c
!ft_convert_str.c
!ft_printf.c
!ft_putarg_fd.c